<robot name="demo02_link">
	<link name="base_link">
		<!-- 可视化标签 -->
		<visual>
			<!-- 形状 -->
			<geometry>
				<!-- 长方体的长宽高 -->
				<!-- <box size="0.5 0.3 0.1" /> -->
				<!-- 圆柱，半径和长度 -->
				<!-- <cylinder radius="0.5" length="2" /> -->
				<!-- 球体，半径-->
				<!-- <sphere radius="0.3" /> -->
				<!-- 3D模型 竖着的,得沿着x轴翻滚90度 再偏航90度-->
				<mesh filename="package://learning_urdf_rviz_gazebo/meshes/autolabor_mini.stl" />

			</geometry>
			<!-- xyz坐标 rpy 翻滚roll 俯仰pitch 偏航yaw角度(3.14=180度 1.57=90度) -->
			<origin xyz="0 0 0" rpy="1.57 0 1.57" />
			<!-- 颜色: r=red g=green b=blue a=alpha -->
			<material name="car_color">
				<color rgba="0.7 0.5 0 0.5" />
			</material>
		</visual>
	</link>
</robot>